<!DOCTYPE html>
<html ng-app="gisApp">
<head>
    <title></title>
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/gis.css">
    <style type="text/css">
        .angular-google-map-container {
            height: 600px;
        }

        .marker-labels {
            background-color: white;
            border: 1px solid black;
            color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
        }
    </style>
</head>
<body ng-controller="firstController">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Project name</a>
        </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider" role="separator"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
      </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-menu">
                <ul class="list-menu">
                    <li><input type="textbox" ng-model="search"> <button ng-click="doSearch()">cari</button></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-markers models="marker" idkey="'_id'" coords="'coord'" click="onClick" events="markers.events"
                                 labelContent='"name"' labelClass='"marker-labels"' icon="'icon_url'">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>
                            <h3>{{name}}</h3>
                            <p>{{address}}</p>
                            <p>{{telp}}</p>
                            <p>{{website}}</p>
                            <p>{{fs}}</p>
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

<script src='node_modules/lodash/lodash.min.js'></script>
<script src='node_modules/angular/angular.min.js'></script>
<script src='node_modules/angular-resource/angular-resource.min.js'></script>
<script src='node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js'></script>
<script src='node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>

<script src="src/js/adira_data.js"></script>
<script src="src/js/app.js"></script>
<script src="src/js/factory.js"></script>
<script src="src/js/controller.js"></script>

</body>
</html>

