<!DOCTYPE html>
<html ng-app="gisApp">
<head>
    <title>Geographical Information System</title>

    <link rel="stylesheet" href="bower_components/angular-loading/angular-loading.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="src/css/gis.css">
    <link rel="stylesheet" href="src/materialize/css/materialize.css">
    <link rel="stylesheet" href="src/css/custom-scrollbar.css">

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        html, body, #map_canvas {
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        #map_canvas {
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 64px;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .marker-labels {
            background-color: white;
            border: 1px solid black;
            color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
        }

        .menu-container {
            height: calc(100% - 64px);
            padding: 10px !important;
            z-index: 1;
        }

        .top-main-header {
            z-index: 3;
        }

        .left-menu-container {
            position: absolute;
            padding: 0 !important;
            z-index: 2;
            top: 150px;
        }

        .left-menu-container-show {
            height: calc(100% - 165px);
        }

        .left-main-content-show {
            height: calc(100% - 125px);
            overflow-y: auto;
            padding: 0px;
            padding: 0 !important;
        }

        .right-main-content-show {
            /*max-height:calc(100% - 65px);*/
            height: calc(100% - 125px);
            overflow-y: auto;
            padding: 0px;
            padding: 0 !important;
            right: 14px !important;
        }

        .right-menu-container {
            position: absolute;
            padding: 0 !important;
            z-index: 2;
            top: 150px;
            right: 14px !important;
        }

        .right-menu-container-show {
            height: calc(100% - 168px);
        }

        .select-dropdown {
            margin: 0px !important;
        }

        .gm-style-iw {
            max-width: 400px !important;
            background-color: #fff;
        }

    </style>
</head>
<body ng-controller="firstController" dw-loading="body" dw-loading-options="{text: 'Loading Data...',spinnerOptions: {length:10,width: 3 }}">
<nav class=" teal lighten-2" role="navigation">
    <div class="nav-wrapper" style="padding-left: 14px;padding-right: 14px">
        <a id="logo-container" href="#" class="brand-logo hide-on-med-and-down">Geographical Information System</a>
        <ul class="right">
            <li ng-repeat="obj in organization_type_list" ng-class="{'active':(obj._id==organization_type)}">
                <a ng-click="(obj._id==organization_type)?'':organizationTypeClick(obj._id)">{{obj.name}}</a></li>
            </li>
        </ul>
        <!--<ul class="right hide-on-med-and-down">-->
        <!--<li ng-repeat="obj in organization_type_list" ng-class="{'active':(obj._id==organization_type)}">-->
        <!--<a ng-click="(obj._id==organization_type)?'':organizationTypeClick(obj._id)" >{{obj.name}}</a></li>-->
        <!--</li>-->
        <!--</ul>-->
        <ul id="nav-mobile" class="side-nav">
            <li ng-repeat="obj in organization_type_list" ng-class="{'active':(obj._id==organization_type)}">
                <a ng-click="(obj._id==organization_type)?'':organizationTypeClick(obj._id)">{{obj.name}}</a></li>
            </li>
        </ul>
        <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="350"
           data-closeonclick="true">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<div>
    <div class="row">
        <div class="col s12 menu-container">
            <div style="margin:0px;" class="top-main-header card">
                <div class="card-action" style="padding:10px;height:65px;">
                    <div class="col s2" style="padding-left:0px;">
                        <div class="input-field" style="margin:0px;">
                            <select style="margin:0px;" ng-model="filter.province.id" ng-change="ddlProvince_change()"
                                    id="ddlProvince" material-select watch>
                                <!--<option value="0" disabled selected>Choose Province</option>-->
                                <optgroup label="Choose Province">
                                    <option value="All">All</option>
                                    <option ng-cloak value="{{ obj.id }}" ng-repeat="obj in province_list">{{obj.name}}</option>
                                </optgroup>
                            </select>
                            <label style="top: -8px;left:0px;">Choose Province</label>
                        </div>
                    </div>
                    <div class="col s2" style="padding-left:0px;">
                        <div class="input-field" style="margin:0px;">
                            <select style="margin:0px;" ng-model="filter.city.id" ng-change="ddlCity_change()"
                                    id="ddlCity" material-select watch>
                                <!--<option value="0" disabled selected>Choose City</option>-->
                                <optgroup label="Choose City">
                                    <option value="All">All</option>
                                    <option ng-cloak value="{{ obj.id }}" ng-repeat="obj in city_list">{{obj.type+'
                                        '+obj.name}}
                                    </option>
                                </optgroup>
                            </select>
                            <label style="top: -8px;left:0px;">Choose City</label>
                        </div>
                    </div>
                    <div class="col s2" style="padding-left:0px;padding-top:12px;">
                        <input type="checkbox" id="cbxHeadQuarterOnly" ng-model="filter.is_hq_only"
                               ng-click="updateOrganizationTotal()">
                        <label for="cbxHeadQuarterOnly" style="color:rgba(0, 0, 0, 0.87)">Headquarter Only</label>
                    </div>
                    <div class="col s2" style="padding-left:0px;">
                        <div class="input-field" style="margin:0px;">
                            <select style="margin:0px;" material-select watch ng-model="filter.type"
                                    ng-change="ddlType_change()">
                                <!--<option value="0" disabled selected>Choose Type</option>-->
                                <optgroup label="Choose Type">
                                    <option value="All">All</option>
                                    <option ng-cloak value="{{ obj._id }}" ng-repeat="obj in type_list">{{obj.name}}</option>
                                </optgroup>
                            </select>
                            <label style="top: -8px;left:0px;">Choose Type</label>
                        </div>
                    </div>
                    <div class="col s2" style="padding-left:0px;">
                        <div class="input-field" style="margin:0px;">
                            <select style="margin:0px;" material-select watch ng-model="filter.sub_type"
                                    ng-change="updateOrganizationTotal()">
                                <!--<option value="0" disabled selected>Choose Sub Type</option>-->
                                <optgroup label="Choose Sub Type">
                                    <option value="All">All</option>
                                    <option ng-cloak value="{{ obj._id }}" ng-repeat="obj in sub_type_list">{{obj.name}}</option>
                                </optgroup>
                            </select>
                            <label style="top: -8px;left:0px;">Choose Sub Type</label>
                        </div>
                    </div>
                    <div class="col s2" style="padding-left:0px;">
                        <div class="input-field" style="margin:0px;">
                            <select style="margin:0px;" material-select watch ng-model="filter.conventional_type"
                                    ng-change="updateOrganizationTotal()">
                                <!--<option value="0" disabled selected>Choose Conventional</option>-->
                                <optgroup label="Choose Conventional Type">
                                    <option value="All">All</option>
                                    <option ng-cloak value="{{ obj._id }}" ng-repeat="obj in conventional_type_list">
                                        {{obj.name}}
                                    </option>
                                </optgroup>
                            </select>
                            <label style="top: -8px;left:0px;">Choose Conventional Type</label>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin:0px;" class="left-menu-container card"
                 ng-class="{'left-menu-container-show col l3 m5 s9 ':IsFilterShow}">
                <div class="card-action">
                    <div class="switch">
                        <label>
                            Hide
                            <input type="checkbox" ng-click="showFilterClick($event)" ng-checked="IsFilterShow">
                            <span class="lever"></span>
                            Show
                        </label>
                    </div>
                </div>
                <div class="card-content style-3" ng-class="{'left-main-content-show':IsFilterShow}"
                     ng-show="IsFilterShow">
                    <ul class="collection" style="margin:0px;">
                        <li class="collection-item">
                            <input type="checkbox" ng-click="PolygonVisible=!PolygonVisible"
                                   id="checkbox-polygonShow" ng-checked="PolygonVisible">
                            <label for="checkbox-polygonShow" ng-cloak>Show Demography</label>
                        </li>
                        <li class="collection-item">
                            <input type="checkbox" ng-click="selectAll($event)" id="checkbox-all"
                                   ng-checked="isSelectedAll()">
                            <label for="checkbox-all" ng-cloak>All{{'
                                ('+(organization_total_list["All"]==null?'0':organization_total_list["All"])+')'}}</label>
                        </li>
                        <li class="collection-item" ng-repeat="obj in general_organization_name_list">
                            <input
                                    type="checkbox"
                                    name="selected_organization[]"
                                    ng-checked="filter_organization.indexOf(obj._id) > -1"
                                    ng-click="filterCheckboxOrganizationClick($event,obj._id)"
                                    ng-attr-id="{{ 'cbx-' + obj._id }}"
                            >
                            <label ng-cloak ng-attr-for="{{ 'cbx-' + obj._id }}">{{obj.name+'
                                ('+(organization_total_list[obj._id]==null?'0':organization_total_list[obj._id])+')'}}</label>
                        </li>
                    </ul>
                </div>
                <div class="card-action" style="text-align: right;padding-top: 11px;" ng-show="IsFilterShow">
                    <button class="btn waves-effect waves-light" ng-click="doSearch2()" name="action">Search
                        <i class="material-icons right">search</i>
                    </button>
                    <button style="display:none;" ng-click="openHqWindow()" id="btnGoToHqLocation">
                    </button>

                </div>
            </div>

            <div style="margin:0px;" class="right-menu-container card "
                 ng-class="{'right-menu-container-show col l3 m5 s9 ':IsSummaryShow}">
                <div class="card-action">
                    <div class="switch">
                        <label>
                            Hide
                            <input type="checkbox" ng-click="showSummaryClick($event)" ng-checked="IsSummaryShow">
                            <span class="lever"></span>
                            Show
                        </label>
                    </div>
                </div>
                <div class="card-action" ng-show="IsSummaryShow">
                    <h5 style="margin:0px">
                        Summary of Area
                    </h5>
                </div>
                <div class="card-content style-3" ng-class="{'right-main-content-show':IsSummaryShow}"
                     ng-show="IsSummaryShow">
                    <ul class="collection" style="margin:0px;">
                        <li class="collection-item" ng-cloak>
                            <b>Province</b> : {{filter.province.name}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>City</b> : {{filter.city.name}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>Number of Organizations</b> :
                            {{summary.total_organizations==null?'0':summary.total_organizations}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>Total Assets</b> : {{summary.total_assets==null?'0':summary.total_assets}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>Total Sales</b> : {{summary.total_sales==null?'0':summary.total_sales}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>Third Party Funds</b> :
                            {{summary.total_third_party_funds==null?'0':summary.total_third_party_funds}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>LDR</b> : {{summary.LDR==null?'0':summary.LDR}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>NIM</b> : {{summary.NIM==null?'0':summary.NIM}}
                        </li>
                        <li class="collection-item" ng-cloak>
                            <b>NPL</b> : {{summary.NPL==null?'0':summary.NPL}}
                        </li>
                        <!--<li class="collection-item">-->
                        <!--<b>Organisasi terbanyak</b> :-->
                        <!--<ul class="collection" style="margin:0px;">-->
                        <!--<li class="collection-item">-->

                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" style="z-index:10">
    <div ng-repeat="obj in poly_lists">
        <ui-gmap-polygons models="obj" path='"geometry"'
                          fill='"fill"'
                          stroke="'stroke'" visible="PolygonVisible" geodesic="true" fit="false"
                          editable="false" static="true" ng-cloak="" events="polygons_events">

        </ui-gmap-polygons>
    </div>
    <!--<ui-gmap-polygons models="polys" path='"geometry"'-->
                      <!--fill='"fill"'-->
                      <!--stroke="'stroke'" visible="true" geodesic="true" fit="false"-->
                      <!--editable="false" static="true" ng-cloak="" events="polygons_events">-->

    <!--</ui-gmap-polygons>-->
    <ui-gmap-markers models="marker" idkey="'_id'" coords="'coord'" click="markerClick" events="markers.events"
                     labelContent='"name"' labelClass='"marker-labels"' icon="'marker_image'">
        <ui-gmap-windows show="show">
            <div ng-non-bindable>
                <div style="text-align:center;">
                    <h5 style="margin-top:0px;">{{name}}</h5>
                    <img src="{{logo_image}}" style="max-width:150px"/>
                    <br/>
                    <b>{{is_hq=="yes"?"HEADQUARTERS":""}}</b>
                </div>
                <div style="max-height:200px; overflow-y: auto;border-top: 1px solid #e0e0e0;" class="style-3">
                    <p><b>Location</b> : {{city.name}}</p>
                    <p><b>Address</b> :{{address}}</p>
                    <p><b>Phone</b> : {{phone}}</p>
                    <p><b>Website</b> : <a href="{{website}}" target="_blank">{{website}}</a></p>
                    <p><b>Financial Statement</b> : {{financial_statement==null?'-':financial_statement}}</p>
                    <p><b>Total Assets</b> : {{asset_size==null?'-':asset_size}}</p>
                    <p><b>Total Sales</b> : {{sales_size==null?'-':sales_size}}</p>
                    <p><b>Third Party Funds</b> : {{third_party_funds==null?'-':third_party_funds}}</p>
                </div>
                <div style="text-align:center;">
                    <p ><a>Annual Report</a></p>
                    {{is_hq=='no'?'<p><a onclick="goToHqLocation()">HQ Location</a></p>':''}}
                </div>
            </div>
        </ui-gmap-windows>
    </ui-gmap-markers>
</ui-gmap-google-map>


<script src='src/js/jquery-2.2.2.min.js'></script>
<script src='node_modules/lodash/lodash.min.js'></script>
<script src='node_modules/angular/angular.min.js'></script>
<script src='bower_components/spin.js/spin.js'></script>
<script src='bower_components/angular-loading/angular-loading.js'></script>
<script src='node_modules/angular-resource/angular-resource.min.js'></script>
<script src='node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='node_modules/angular-materialize/src/angular-materialize.js'></script>
<script src='src/materialize/js/materialize.min.js'></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.js"></script>
<script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js"></script>

<script src="src/js/adira_data.js"></script>
<script src="src/js/app.js"></script>
<script src="src/js/factory.js"></script>
<script src="src/js/controller.js"></script>

<script>
    function goToHqLocation() {
        $('#btnGoToHqLocation').click();
    }
</script>
</body>
</html>

